@import "../../ui/styles/colors.css";
@import "../../ui/styles/fonts.css";

.menu {
    background-color: var(--color-white);
    height: 100vh;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.button {

}

.wrapper{
    width: 200px;
    text-align: center;
}

.buttonPanel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}