@import "./palette.css";

:root {
  --color-primary: var(--green-200);
  --color-secondary: var(--green-100);
  --color-tertiary: var(--beige);
  --color-background: var(--green-900);
  --color-shadow: var(--shadow);
  --color-text: var(--gray);
  --color-disabled: var(--gray-light);
  --color-white: var(--white);
}
