@import "../../ui/styles/colors.css";
@import "../../ui/styles/fonts.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container p {
  color: var(--color-primary);
}

.centralText {
  font-size: 64px;
  font-weight: bold;
  color: var(--color-primary);
  font-family: var(--Unigeo32-Regular);
}
